// font
$fSizelaster: 14px; //输入框文字，筛选框文字
$fSizemini: 16px; //输入框文字，筛选框文字
$fSizesmall: 18px; //输入框文字，筛选框文字
$fSizebase: 20px; //导航文字，表格文字，页码文字
$fSizeAverage: 22px; //导航文字，表格文字，页码文字
$fSizeDiatitle: 24px; //弹窗标题文字
$fSizemedium: 26px; //工作台文字

// color
$themeColor: #507fef; //主色调 头部底色，左侧选中，按钮
$titleColor: #333333; //标题文字，左侧导航文字
$contentColor: #666666; //表格内容 正文文字
$fontColor: #999999; //分页未选中文字
$selectColor: #aeaeae; //搜索框文字
$cardbgColor: #ffffff; //卡片背景色 部分文字颜色
